.wrapper {
    position: relative;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 320px;
    padding-left: 12rem;
    padding-right: 12rem;
    width: 100%;
    justify-content: center;
    height: auto;
}
.search_container_card {
    position: relative;
    display: grid;
    align-items: center;
    width:100%;
    background-color: #be42427e;
    height: calc(50vh);
    border-radius:10px;
    margin-top: 80px;
    margin-bottom: 80px;
    justify-content: center;
   
}
.search_box {
    position: relative;
    display: grid;
    width: 100%;
    max-height: 40vh;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(7,180px);
    align-items: center;
    overflow-x: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.search_box::-webkit-scrollbar {
    display: none;
  }
.search_box input, select {
    border-radius: 6px;
    display: grid;
    font-family: 'Poppins';
    font-size: 12.5px;
    font-weight: 600;
    grid-gap: 10px;
    grid-template-columns: 13px auto 13px;
    letter-spacing: .03rem;
    outline:0;
    padding: 11px 16px;
    padding-left: 13px;
    margin-bottom: 50px;
    border:none;
}


.anime {
    grid-gap: 24px;
    display: grid;
    grid-gap: 28px 30px;
    grid-template-columns: repeat(auto-fill,192px);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    padding-bottom: 4rem;
}
.anime .card-anime {
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    height: 265px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
}
.anime .card-anime .info {
    position: absolute;
    bottom: 1.5em;
    font-size: 1.2rem;
    font-weight: 550;
    padding:0.8em;
    z-index:7;
    width: 100%;
    opacity:0.5;
    overflow: hidden;
    color:#E3E3E3;
    font-family: 'Poppins';
    transition: all 0.3s ease-in-out;
  }

.anime .card-anime .info p {
    overflow: hidden;
    box-sizing: content-box;
    color:rgb(212, 211, 211);
    width: 65%;
    height: 33px;
    font-size: 16px;
    line-height: 16px;
    transition: all 0.3s ease-in-out;
}

.anime .card-anime:hover .info {
    opacity: 1;
}

.anime .card-anime:active {
    transform: translateY(10px);
  }

.anime .card-anime:hover {
    box-shadow: 0 0 40px #BE4242;
    cursor: pointer;
  }

.anime .card-anime img {
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 5;
    object-fit: cover;
    
}


@media (max-width: 1040px){
    .wrapper{
        padding-left: 1.5rem;
        padding-right: 1.5rem ;
    }
    .search_container_card {
    margin-bottom:30px;
    }
    .search_box {
        -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    white-space: nowrap;
    margin: 20px 0;
    grid-template-columns: (30,auto);
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    grid-gap: 25px;
    -webkit-overflow-scrolling: touch;
    }
    .anime {
    grid-template-columns: repeat(auto-fill,minmax(108px,50px));
    grid-gap: 19px 20px;
    justify-content: center;
    }
    .anime .card-anime {
        height: 143px;
    }
    .anime .card-anime .info {
    display:none;
    }
}