.container {
    width:100%;
    position: relative;
    justify-content: space-between;
    left:0;
  }

.section_text_cont {
    padding-left:20px;
}
.section_text_cont p {
    color:#E3E3E3;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.item {
    max-height: 13rem;
    max-width: 19rem;
    min-height: 13rem;
    min-width: 19rem;
    position: relative;
    border-radius: 10px; 
    background-color: #1e2029b9;
    margin-right: 30px;
}

.item img {
    object-fit:cover;
    height :100%;
    width:100%;
    border-radius: 10px; 
    pointer-events: none;
    box-shadow: #1E2029;
    filter:opacity(0.7);
}


.title {
    position: absolute;
    bottom:0;
    left:0;
    font-size: 18px;
    font-weight: 550;
    padding-left:12px;
    padding-bottom:10px;
    z-index:7;
    width: 100%;
    overflow: hidden;
    color:#E3E3E3;
    font-family: 'Lato', sans-serif;
    max-height: 30%;
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
  }
  .title:hover {
    opacity: 1;
  }
.carousel {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
}

.carousel_container {

    display:flex;
    width: 100%;
    cursor:grab;
    overflow:hidden;
}

.over_card {
    position: absolute;
    height: 100%; 
    width:100%;
    border-radius: 10px; 
    top:0;
    left:0;
    z-index:1;
    background-color: #1e20295d;
    transition: all 0.3s ease-in-out;
}
.over_card:hover{
    box-shadow: 0 0 40px #BE4242;
}
.item_pv_button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border:none;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display:block;
     width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px; 
}



.item_pv_button:hover:after {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #BE4242;
    border-radius: 50%;
    cursor: pointer;
    animation: play-pulse 1300ms ease-out infinite;
}
.item_pv_button a {
    padding: 0 40em; margin: 0 -40em; 
 }
.item_pv_button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid white;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
    cursor: pointer;
}

@keyframes play-pulse {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.8);
    opacity: 0.7;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.2);
    opacity: 0;
  }
}


@media screen and (max-width: 960px) {
.container  {
    height:auto;
    padding-top:0.5rem;
}
    
.item {
    max-height: 8rem;
    max-width: 12.5rem;
    min-height: 8rem;
    min-width: 12.5rem;
}
.title {
    font-size: 15.5px;
    padding-left:8px;
    padding-bottom:10px;
    max-height: 50%;
  }
    
   
}

