.page_content {
    margin: 0 auto;
    min-width: 320px;
    padding-left: 12rem;
    padding-right: 12rem;
    width: 100%;
    height: auto;
}


.header-title-info{
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    width:100%;
    margin-top:20px;
    height: auto;
}

.header-title-info p {
    font-size: 26px;
    font-weight: 550;
    margin: 0;
    color:#E3E3E3;
    font-family: 'Poppins';
    text-transform: uppercase;
    border-bottom: 4px solid #BE4242;
}

.results {
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: grid;
    margin-top: 20px;
    margin-bottom: 10px;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(4,0.5fr);
    grid-template-rows: 27rem 21rem ;
    align-content: center;
    width: 100%;
    justify-content: center;
    position: relative;
}

.results .card {
    position: relative;
    border-radius: 10px;
    margin:0;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}

.card .info {
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 20px;
    padding-left:12px;
    padding-right:12px;
    padding-bottom:13px;
    z-index:7;
    width: 100%;
    max-height: 30%;
    opacity:0.5;
    overflow: hidden;
    color:#E3E3E3;
    font-family: 'Poppins';
    transition: all 0.3s ease-in-out;
  }

.card .info p {
    overflow: hidden;
    box-sizing: content-box;
    color:rgb(212, 211, 211);
    width: 65%;
    height: 33px;
    font-size: 16px;
    line-height: 16px;
    transition: all 0.3s ease-in-out;
}

.card:hover .info {
    opacity: 1;
}

.card:active {
    transform: translateY(10px);
  }

.card:hover {
    box-shadow: 0 0 40px #BE4242;
    cursor: pointer;
  }

.card img {
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 5;
    object-fit: cover;
}

.card:nth-child(1) {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.card:nth-child(2) {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 2;
}

.card:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.overlay {
    background-color: #1E2029;
    filter:opacity(0.58);
    position: absolute;
    height: 100%; 
    width:100%;
    border-radius: 10px;
    top:0;
    left:0;
    z-index:1;
}

.overlay_gray {
    background-color: #1E2029;
    filter:opacity(0.38);
    position: absolute;
    height: 100%; 
    width:100%;
    border-radius: 10px;
    top:0;
    left:0;
    z-index:1;
}

.sall {
    color: #6F50DC;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: auto;
    text-transform: none;
    transition: color .2s ease;
    padding-right: 20px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 1rem;
    padding-bottom:3rem;
    align-content: center;
    height: 20vh;
    width: 100%;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.cat_item_cont {
    max-width:7.2rem;
    max-height: 7.2rem;
}

.categories .cat_item {
    background-color: #BE4242;
    max-width:7.2rem;
    max-height: 7.2rem;
    overflow: hidden;
    border-radius: 10px;
}

.categories .cat_item img{
    cursor: pointer;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.cat_title {
    font-size: 1rem;
    font-weight: 550;
    z-index:7;
    width: 100%;
    text-align: center;
    overflow: hidden;
    color:#E3E3E3;
    font-family: 'Poppins';
}

.manga {
    padding-top: 1rem;
    padding-bottom: 6rem;
    display: grid;
    margin-top: 20px;
    margin-bottom: 30px;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(6,0.5fr);
    grid-template-rows: 22rem 20rem ;
    align-content: center;
    width: 100%;
    justify-content: center;
    position: relative;
}

.manga .card {
    position: relative;
    border-radius: 10px;
    margin:0;
    cursor:pointer;
    transition: all 0.3s ease-in-out;
}

.manga .card .info {
    position: absolute;
    bottom: 1.5em;
    font-size: 1.2rem;
    font-weight: 550;
    padding:0.8em;
    z-index:7;
    width: 100%;
    opacity:0.5;
    overflow: hidden;
    color:#E3E3E3;
    font-family: 'Poppins';
    transition: all 0.3s ease-in-out;
  }

.manga .card .info p {
    overflow: hidden;
    box-sizing: content-box;
    color:rgb(212, 211, 211);
    width: 65%;
    height: 33px;
    font-size: 16px;
    line-height: 16px;
    transition: all 0.3s ease-in-out;
}

.manga .card:hover .info {
    opacity: 1;
}

.manga .card:active {
    transform: translateY(10px);
  }

.manga .card:hover {
    box-shadow: 0 0 40px #BE4242;
    cursor: pointer;
  }

.manga .card img {
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 5;
    object-fit: cover;
    
}

.manga .card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.manga .card:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.manga .card:nth-child(3) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.manga .card:nth-child(4) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}

.manga .card:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

@media (max-width: 1040px){
.page_content{
    padding: 0;
}
.results {
    padding: 0 20px;
    grid-template-rows: 22rem 18rem ;
    grid-gap: 25px 20px;
    justify-content: center; 
}

.manga {
    padding: 0 20px;
    grid-gap: 25px 20px;
    justify-content: center; 
    grid-template-rows: 20rem 14rem ;
    padding-bottom: 1rem;
}

.manga .card {
    border-radius: 0.5rem;
    overflow: hidden;
}
.manga .card img {
    border-radius: 0.5rem;
}

.overlay_gray {
    border-radius: 0.5rem;
}



.header-title-info {
    padding-left: 1.8rem;
}

.info {
    font-size: 0.9rem;
}

.manga .card .info {
    font-size: 0.9rem;
}
.header-title-info h3{
    font-weight: 700;
    font-size: 1.2rem;
}

.header-title-info {
    padding-left: 20px;
    padding-right: 20px;
    margin-top:0;
}

.sall {
    padding-right: 0px;
    font-size: 1rem;
}

.categories {
    margin-top:15px;
    margin-bottom:30px;
    padding-top:0;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
}
}

@media screen and (max-width: 960px){
.results {
    grid-template-rows: 8rem 8rem ;
    grid-gap: 14px 7px;
}

.manga {
    grid-template-rows: 8rem 6rem ;
    grid-gap: 14px 7px;
}


.manga .card {
    border-radius: 0.5rem;
    overflow: hidden;
}
.manga .card img {
    border-radius: 0.5rem;
}
.card .info p {
    display:none;
}

.manga .card .info {
    position: absolute;
    bottom: 1em;
    font-size: 0.7rem;
    font-weight: 550;
    padding:0.5em;
    opacity:1;
    width: 100%;
  }

.manga .card .info h3 {
    max-height: 30px;
  }
  

.manga .card .info p {
    display:none;
}

.manga .card:nth-child(1) {

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
  

}

.manga .card:nth-child(2) {

    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}

.manga .card:nth-child(3) {
    display: none;
}
.manga .card:nth-child(4) {
    display: none;
}
.manga .card:nth-child(5) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}
.manga .card:nth-child(6) {
    display:none;
}
.manga .card:nth-child(7) {

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.manga .card:nth-child(8) {

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}

.overlay_gray {
    border-radius: 0.5rem;
}


.header-title-info p {
    font-size: 16px;
}

.header-title-info {
    padding-left: 1.5rem;
    margin-top:0;
}

.card {
    overflow: hidden;
}

.card .info {
    font-size: 11px;
    padding-left:8px;
    padding-right:8px;
    padding-bottom:10px;
    opacity:1; 
  }

.categories {
    margin-top:15px;
    margin-bottom:15px;
    padding-top:0;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    height: 15vh;
    overflow: hidden;
}

.categories .cat_item {
    max-width:4.9rem;
    min-width:4.9rem;
    max-height: 4.9rem;
    min-height: 4.9rem;

}

.categories .cat_item_cont{
    max-width:4.9rem;
    min-width:4.9rem;
    max-height: 4.9rem;
    min-height: 4.9rem;
    margin-right: 10px;
}

.cat_title {
    font-size: 12px;
}


}
@media  (max-width:1280px) and (orientation: landscape) {
.results {
    grid-template-rows: 20rem 14rem ;
    grid-gap: 14px 10px;
}   
.manga {
    grid-template-rows: 22rem 14rem ;
    grid-gap: 14px 10px;
}
    
.manga .card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
    
.manga .card:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
    
.manga .card:nth-child(3) {
    display: none;
}
.manga .card:nth-child(4) {
    display: none;
}
.manga .card:nth-child(5) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}
.manga .card:nth-child(6) {
    display:none;
}
.manga .card:nth-child(7) { 
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.manga .card:nth-child(8) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}
    
.categories {
    margin-top:0;
    margin-bottom:15px;
    padding-top:0;
    padding-bottom: 0;
    padding-left: 24px;
    padding-right: 24px;
    height: 35vh;
    overflow: hidden;
}
    
.categories .cat_item {
    max-width:6.3rem;
    min-width:6.3rem;
    max-height: 6.3rem;
    min-height: 6.3rem;

}
    
.categories .cat_item_cont{
    max-width:6.3rem;
    min-width:6.3rem;
    min-height: 6.3rem;
    max-height: 6.3rem;
    margin-right: 10px;
}
.cat_title {
    font-size: 15px;
}

 }