.footer_wrapper {
	background-color: var(--color-background-dod);
	padding: 45px 0 20px;
	font-size: 15px;
	line-height: 24px;
	color:#3F12A6;
	min-height: 40vh;
	max-height: 40vh;
}
.footer_container {
	width: 100%;
	padding-left: 12.5rem;
	padding-right: 12.5rem;
	>hr {
		border: solid 1px #40F1B9;
		opacity: 0.5;
	}
}
@media screen and (max-width: 960px) {
	.footer_wrapper {
		min-height: 25vh;
		max-height: 25vh;
	}
	.footer_container {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
}
@media (max-width:1280px) and (orientation: landscape) {
	.footer_wrapper {
		min-height: 60vh;
		max-height: 60vh;
	}
}
