
  .hero-container {
    background: #1E2029;
    height: 101vh;
    width: 100%;
    flex:1;
    flex-wrap: wrap;
    justify-items: center;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
    resize:both;
    margin-bottom:6rem;

 
  }
  .Items {
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90vh;
    object-fit: contain;
    flex:1;
    flex-wrap:initial;
    width:100%;

   

  }

  .container_s{
    position: relative;
    display: flex;
    width: 55%;
    z-index:1;
    align-items: flex-end;
    right: 0;
    padding-bottom: 8rem;
  }
  .text_container {
    display: flex;
    position:relative;
    flex-direction: column;
    width:45%;
    z-index:1;
    top:20%;
    height: 100%;
    padding-left:12rem;
  }

  .section_text_cont {
    margin-bottom: 2rem;
}

  .section_text_cont h2 {
    color: rgb(197, 197, 197);
    font-family: 'Poppins';
    font-size: 20px;
  }

  .text_container > h1 {
    color: #E3E3E3;
    font-size: 52px;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 50px;
    max-width: 40%;
    text-align: left;
  }

  .btn {
    margin-top:2.5rem;
  }


  .text_container > span {
    margin-top:8px;
    color: rgb(197, 197, 197);
    font-size: 17px;
    font-family: 'Poppins';
      max-width: 400px;
      max-height: 100px;
      overflow:hidden;
      
  }

  .bg{
    position: absolute;
    height: 100%;
    width:100%;
    left:0;
    object-fit: cover;
    margin:0;
 

  }

  .bg2{
    background-color: #1E2029;
    filter:opacity(0.5);
    position: absolute;
    height: 100%; 
    width:100%;
    top:0;
    left:0;
    z-index:1;
    

  }




  @media only screen and (min-width: 769px) and (max-width: 1281px){
  
    
    .hero-container  {
      height:auto;
      margin-bottom:3rem;
      }

    .Items {
      overflow: hidden;
      flex-direction: column;
  }

    .text_container {
      padding-left: 3rem;
      top:10%;
    }
    .text_container span {
      margin-top:8px;
    }
    .container_s{
      align-self:flex-end;
      padding-bottom: 3rem;
    }
  }

  @media only screen and (min-width: 280px) and (max-width: 960px){
    .hero-container  {
      height:auto;
      margin-bottom:2rem;
      }

    .Items {
      overflow: hidden;
      flex-direction: column;
      padding:24px;
  }
  
  .section_text_cont h2 {
    color: rgb(197, 197, 197);
    font-family: 'Poppins';
    font-size: 18px;
  }

    .text_container {
      padding-left: 0rem;
      width:70%;
      top:10%;

    }
    .text_container span {
      margin-top:8px;
    }
    .container_s{
      padding-top:3rem;
      width: 100%;
      padding-bottom: 3rem;
  }
   .text_container {
      padding-bottom: 0;
      margin-bottom:0;
      top:10%;
  }
  }
 

