@import "https://fonts.googleapis.com/css?family=Roboto:300";
* {
	box-sizing: border-box;
}
body {
	font-family: 'Changa', sans-serif;
}
h1 {
	font-weight: 300;
}
h2 {
	font-weight: 300;
}
h3 {
	font-weight: 300;
}
h4 {
	font-weight: 300;
}
h5 {
	font-weight: 300;
}
h6 {
	font-weight: 300;
}
.login_wrapper {
	display: flex;
	flex-direction: row;
}
#ls {
	display: flex;
	flex-direction: column;
	flex: 1;
	align-items: center;
	justify-content: center;
	background: #181818;
	color:#fff;
	height: 100vh;
}
#obrazek {
	flex: 1;
}
#zal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding-bottom: 1rem;
	form {
		width: 80%;
		padding-bottom: 3rem;
	}
	label {
		font-size: 0.9rem;
		line-height: 2rem;
		font-weight: 500;
	}
	.pol-teks {
		margin-bottom: 1.3rem;
		width: 100%;
		border-radius: 2px;
		background: #181818;
		border: 1px solid #555;
		color: #ccc;
		padding: 0.5rem 1rem;
		line-height: 1.3rem;
	}
	.loguj {
		width: 100%;
	}
	.utw {
		width: 60%;
	}
	.linki {
		a {
			display: block;
			color: #fff;
			text-decoration: none;
			margin-bottom: 1rem;
			text-align: center;
			font-size: 0.9rem;
		}
	}
	.or {
		display: flex;
		flex-direction: row;
		margin-bottom: 1.2rem;
		align-items: center;
		.paski {
			flex: auto;
			border: none;
			height: 1px;
			background: #aaa;
		}
		span {
			color: #ccc;
			padding: 0 0.8rem;
		}
	}
}
.logo {
	color: #E3E3E3;
	justify-content: center;
	align-items: center;
	align-self: center;
	cursor: pointer;
	font-family: 'Changa', sans-serif;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	img {
		justify-content: center;
		align-items: center;
		align-self: center;
	}
}
.logo_container {
	display: flex;
	padding: 20px;
	justify-content: center;
}
.or {
	width: 60%;
}
.linki {
	width: 60%;
}
.overlay_gray {
	background-color: #1E2029;
	filter: opacity(0.48);
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 8px;
	top: 0;
	left: 0;

}
#sekcja {
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('https://i.ibb.co/LzhJ5XC/1064205.png') no-repeat center center / cover;
	height: 100vh;
	text-align: center;
	.tekst {
		font-size: 3rem;
		width: 100%;
		color: #fff;
		margin-bottom: 1.5rem;
	}
	.utw {
		width: 60%;
		margin: auto;
	}
}
#stopka {
	color: #ccc;
	text-align: center;
	font-size: 0.8rem;
	max-width: 80%;
	padding-top: 5rem;
	a {
		color: #40F1B9;
		text-decoration: underline;
	}
}
.loguj {
	padding: 0.7rem 1rem;
	height: 2.7rem;
	display: block;
	border: 0;
	border-radius: 2px;
	font-weight: 500;
	background: #40F1B9;
	color: #3F12A6;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: all 0.5s;
	&:hover {
		background-color: #8a7c7d;
		color:#40F1B9;
	}
}
.utw {
	padding: 0.7rem 1rem;
	height: auto;
	display: block;
	border: 1px solid #f4f4f4;
	border-radius: 2px;
	font-weight: 500;
	background: none;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: all 0.5s;
	&:hover {
		border-color: #40F1B9;
		color: #40F1B9;
	}
}
@media (min-width: 1200px) {
	#ls {
		flex: 4;
	}
	#obrazek {
		flex: 6;
	}
}
@media (max-width: 768px) {
	body {
		overflow: auto;
	}
	#obrazek {
		display: none;
	}
	#zal {
		.logo {
			margin-bottom: 2vh;
		}
		.pol-teks {
			margin-bottom: 0.7rem;
		}
	}
	#stopka {
		padding-top: 1rem;
	}
}
