.userlist_wrapper{
    position: relative;
    font-family: 'Changa', sans-serif;
    flex-direction: column;
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    justify-content: center;
    height: 100%;
    padding:20px;
    padding-top:0px;
}
.card_position_results {
    position: relative;
    border-radius: 8px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, 145px);
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
}
.card_position_cont {
    margin-bottom: 30px;
}
.card_position {
    border-radius: 4px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
    display: inline-block;
    height: 210px;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.card_position img {
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 5;
    object-fit: cover;
}
.type_header {
    color: #E3E3E3;
    display: block;
    font-size: 1.17em;

    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 400;
}
.card_position_title {
    justify-content: space-between;
    font-size: 1.1rem;
    font-family: 'Changa', sans-serif;
    font-weight: 600;
    line-height: 21px;
    min-height: 42px;
    max-height: 42px;
    margin-top: 10px;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    display: flex;
    color: #E3E3E3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.card_position_title p {
    color:rgb(212, 211, 211);
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
.card_position_title p:hover {
    color:#40F1B9;
    
}
