.page_content {
    margin: 0 auto;
    min-width: 320px;
    padding-left: 13rem;
    padding-right: 13rem;
    width: 100%;


}







.trending {
    display: grid;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-gap: 25px 20px;
    grid-template-columns: repeat(auto-fit,200px);
    width: 100%;
    justify-items: center;
    justify-content: center;
    counter-reset: grid-items;
    position: relative;
    
}

.header-title-info{
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    display:flex;
    width:100%;
    height: 0.5rem;
    padding-left: 20px;
    padding-right: 2px;
    padding-bottom: 20px;
}

.header-title-info h3 {
    font-size: 1.6rem;
    font-weight: 550;
    margin: 0;
    color:#E3E3E3;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}


.card {
    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;
    position: relative;
    width: 185px;
    display:grid;
   grid-template-rows: 265px 1fr;
    margin:0;

}
.card img {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 5;
    object-fit: cover;
}

.sall {
    color: #6F50DC;
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: auto;
    text-transform: none;
    transition: color .2s ease;
    padding-right: 20px;
}


@media (max-width: 1040px){
.page_content{
    padding: 0;
}
.trending {
    padding: 0 20px;
    grid-template-columns: repeat(auto-fit,minmax(125px,1fr));
    grid-gap: 25px 20px;
    justify-content: center;
}

.header-title-info h3{
    font-weight: 700;
    font-size: 1.2rem;
}

.sall {
    padding-right: 0px;
    font-size: 1rem;
}

.card{
    width: 100%;
    grid-template-rows: 185px 1fr;
}
}

@media (max-width: 760px){
.trending {
    grid-template-columns: repeat(auto-fill,minmax(105px,1fr));
    grid-gap: 25px 20px;
}
}
@media (max-width: 1065px){
.trending {
    grid-gap: 25px 14px;
}
}
